<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trilhas de estudo</title>
</head>
<body>
    <h1>Minhas trilhas de estudo</h1>
    <a href="/tracks/new">Criar Nova Trilha</a>
     <% if (tracks && tracks.length > 0) { %> 
        <ul> <% tracks.forEach(track => { %>
                <li>
                    <a href="/tracks/<%= track.id %>">
                        <strong><%= track.title %></strong>
                    </a>
                    <p><%= track.description %></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Nenhuma track encontrada</p>
    <% } %>
</body>
</html>