<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Trilha</title>
</head>
<body>
    <h1>Criar Nova Trilha</h1>
    <form action="/tracks" method="POST">
        <input type="text" name="title" />
        <textarea name="description"></textarea>
        <input type="text" name="category" />
        <button type="submit">Salvar</button>
    </form>
</body>
</html>